<%- include('admin_header') %>
        
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Deshbord /</span><span class="text-muted fw-light"> Profile Details /</span> Edit Profile</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Edit Profile</h5>
          <!-- Account -->
          <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
              <img
                src="<%= locals.user.image %>"
                alt="user-avatar"
                class="d-block rounded"
                height="150"
                width="150"
                id="uploadedAvatar"
              />
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <form id="formAccountSettings" method="POST" action="/admin/updateDataPass">
              <div class="row">
                <input type="hidden" name="edit_id" value="<%= locals.user.id %>" />
                <div class="mb-3 col-md-6">
                  <label for="username" class="form-label">Password</label>
                  <input
                    class="form-control"
                    type="text"
                    id="username"
                    name="currentpassword"
                    value="<%= locals.user.password %>"
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">New Password</label>
                  <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="npassword"
                    placeholder="Enter New Password"
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="cpass">Confirm Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="text"
                      id="cpass"
                      name="cpassword"
                      class="form-control"
                      placeholder="Re-Enter Password"
                    />
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save changes Password</button>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->
  <%- include('admin_footer') %>