<%- include('admin_header') %>
  <div class="card-body">
    <div>
      <h2>Add Product :</h2>
    </div>
    <form method="post" action="/admin/addproduct" enctype="multipart/form-data">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="productImage" class="form-label">Product Image :</label>
          <input class="form-control" type="file" id="productImage" name="pimage" />
        </div>
        <div class="mb-3 col-md-6">
          <label for="productName" class="form-label">Product Name :</label>
          <input class="form-control" type="text" id="productName" name="pname" />
        </div>
        <div class="mb-3 col-md-6">
          <label for="price" class="form-label">Price :</label>
          <input class="form-control" type="number" id="price" name="price" 
            placeholder="Enter Price" />
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="category">Cagegory Name :</label>
            <input type="text" id="category" name="category" class="form-control" placeholder="Enter Product Category" />
        </div>
        <div class="mb-3 col-md-12">
          <label for="description" class="form-label">Description :</label>
          <textarea class="form-control" name="description" id="description" cols="30" rows="8" placeholder="Enter Description" ></textarea>
        </div>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary me-2">Save</button>
      </div>
    </form>
  </div>
  <!-- Striped Rows -->
  <div class="card" style="margin: 26px;">
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <% for(let a of productData){ %>
          <tr>
            <td><img src="<%= a.pimage %>" alt="" width="50px" height="50px"></td>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= a.pname %></strong></td>
            <td><%= a.category %></td>
            <td>$<%= a.price %></td>
            <td><span class="badge bg-label-primary me-1"><%= a.description %></span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" style="width: 60px"
                  data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Striped Rows -->
  <%- include('admin_footer') %>